$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/ClientApp/dist/
**/IdentityServer.db
**/packages/*
**/Properties/launchSettings.json
**/wwwroot/dist/
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.GhostDoc.xml
*.gpState
*.ilk
*.jfm
*.jmconfig
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.cr/
.fake/
.idea/
.JustCode
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/
/.vscode/
/node_modules
/Properties/launchSettings.json
/Source/Core/TrueNorth.Database/SchemaComparisons/Versus Local-Developer - TrueNorth.scmp
/Source/Presentation/IdentityServer/identityserver4_log.txt
/Source/Presentation/IdentityServer/identityserver4_log.txt
/Source/Presentation/TestTaker/npm-shrinkwrap.json
/Source/Presentation/TestTaker/package-lock.json
/Source/Presentation/TestTaker/Properties/PublishProfiles/*.pubxml
/Source/Presentation/TestTaker/wwwroot/dist
/Source/Presentation/Holonet/npm-shrinkwrap.json
/Source/Presentation/TestTaker/wwwroot/dist
/Source/Testing/TrueNorth.E2E/package-lock.json
/Source/Testing/TrueNorth.E2E/reports/
**/PublishProfiles/*.pubxml
**/PublishProfiles/*.user
/wwwroot/dist/
/yarn.lock
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*
ApplicationInsights.config
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
bin/
Bin/
bld/
build/
BundleArtifacts/
ClientApp/test/languages.json/Properties/launchSettings.json
ClientBin/
csx/
dlldata.c
DocProject
ecf/
FakesAssemblies/
Generated_Code/
ipch/
nCrunchTemp_*
node_modules/
obj/
Obj/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
TestResult.xml
typings/
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
Scoring/IRT/english_results.csv
Scoring/IRT/spanish_results.csv
/Source/Presentation/TrueNorth.Presentation.Ng/package-lock.json
/Source/Presentation/TrueNorth.Presentation.IdentityServer/identityserver4_log.txt
.orig
seed-*.txt
GenerateWordsAndSyllables/*-words.sql
GenerateWordsAndSyllables/*-syllables.sql
Source/Adhocs/WatsonSpeechToText/output*.txt
/Source/Adhocs/DownloadCalibrationData/French Speaking Calibration/
coverage/
insert-seed-data.sql
.DS_Store
.terraform/